<h1>Social <%= title%></h1>
<section id="feed-post">
    <h4>Post</h4>
    <form action="" medtho="POST" id="new-post-form">
        <textarea name="content" cols="30" rows="3"></textarea>
        <button type="submit">Post</button>
    </form>
</section>