h1{
    text-align: center;
}
#home-container{
    display: flex;  
}
#feed-post{
    width: 70%;
    padding: 1rem;
}
#users-friends{
    width:30%;
    height: 100vh;
    padding: 1rem;    
    border-left: 1px solid grey;
}

#post-list-container{
    height: 26rem;
    width : 20rem;
}
#post-list-container ul {
    overflow: auto;
    height: 100%;
}
#post-list-container ul::-webkit-scrollbar{
    width : 10px;
}
#post-list-container ul::-webkit-scrollbar-thumb{
    width : 5px;
    background-image: linear-gradient(120deg, blue,black);
    border-radius: 3px;
}
#post-list-container ul::-webkit-scrollbar-track{
    width : 5px;
    background-color: #fff;
    border-radius: 3px;
}